body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Navigation Bar */

nav {
    background-color: #004AAD;
    overflow: hidden;
    padding: 10px 20px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}

nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

nav a.logo {
    font-size: 25px;
    font-weight: bold;
}

.nav-right a:hover {
    background-color: #0065ad;
}

.nav-right a:active {
    background-color: dodgerblue;
}

#logo {
    height: 40px;
    vertical-align: middle;
}

.nav-right a {
    vertical-align: middle;
    margin-top: 5px;
    float: right;
}

/* Header Content */

#header-bg-bg-img {
    background-color: black;
    position: relative;
    z-index: 0;
}

#header-bg-img {
    background-image: linear-gradient(rgba(255, 255, 255, 0), black), url('img/header.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    height: 600px;
    -webkit-filter:grayscale(30%) blur(10px) brightness(40%);
    filter:grayscale(30%) blur(10px) brightness(40%);
}

#project {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

h1 {
    margin:0px;
    text-align: center;
    font-size: 100px;
}

/* Developers */
table {
    text-align: center;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 300px;
}

td img {
    filter:drop-shadow(0px 0px 20px black);
    height: 80px;
}

td a {
    text-decoration: none;
    font-weight: bold;
    color:white;
}

td a:visited,td a:hover,td a:active {
    color:white;
}

#rielAct, #danielAct {
    color:darkgrey;
    font-size: 14px;
}

/* Modal Box */

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.598);
    border-radius: 15px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 4;
    border-radius: 15px;
}

#quote {
    padding:15px;
}

#quote div {
    margin:20px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:30px;
}

#quote span {
    color:gray;
    font-size:15px;
}

#quote hr {
    background-color: gray;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 4;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ZodiacBot*/

.zodiacBotSection {
    padding: 50px;
}

.zodiacBot {
    margin-right: 75px;
}

#zodiacBubble {
    margin: 80px 40px 40px 40px;
    font-size: 30px;
}

#zodiacBubble span{
    color:red;
    background-color:beige;
    padding:10px;
    border-radius: 10px;
}

.zodiacBtn {
    background-color: #00B0D8;
    color:white;
    border:none;
    padding:25px;
    font-size:30px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 50px;
}

.zodiacBtn:hover {
    background-color: #009ed8;
}
.zodiacBtn:active {
    background-color: #0085d8;
}

footer {
    background-color: #e78403;
    padding: 30px;
    color:white;
    text-align: center;
    margin-top:50px;
    position:relative;
}